html,
body {
    margin: 0;
}

body {
    text-align: center;
    color: #131313;
}

.modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1d1d1d6b
}

.modal-body {
    width: 50%;
    height: 200px;
    background: #ffffff;
    transform: translate(50%, 90%)
}

.modal-title {
    padding-top: 2rem;
}

.modal-button {
    margin-top: 4rem;
}

.hide {
    display: none;
}